<aside class="main-sidebar">

	<% if user_signed_in? %>
		<div class="user-panel">
			<div class="pull-left image">
				<!-- Profile Image -->
				<% if current_user.profile_picture.present? %>
					<%= image_tag(current_user.profile_picture.url(), class: "img-circle") %>
				<% else %>
					<%= image_tag("missing_profile_picture.jpg", class: "img-circle") %>
				<% end %>
			</div>
			<div class="pull-left info">
				<%= link_to(current_user) do %>
					<p style="margin:auto auto 0 5px"><b><%= current_user.username %></b></p>
				<% end %>
				<a><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
	<% end %>

	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- search form (Optional) -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
					<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</form>
		<!-- /.search form -->

		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<li class="header">MENU</li>
			<!-- Optionally, you can add icons to the links -->
			<li class="active"><a href="#"><i class="fa fa-calendar"></i> <span>Calendar</span></a></li>
			<li><a href="#"><i class="fa fa-pie-chart"></i> <span>Charts</span></a></li>
			<li><a href="#"><i class="fa fa-line-chart"></i> <span>Ranking</span></a></li>
			<li class="treeview">
				<a href="#"><i class="fa fa-rocket"></i> <span>Projects</span> <i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
					<li><%= link_to "Start a Project", new_project_path %></li>
					<li><%= link_to "My Projects", projects_path %></li>
					<li><a href="#">My tasks</a></li>
				</ul>
			</li>
		</ul><!-- /.sidebar-menu -->			
	</section>
	<!-- /.sidebar -->
</aside>
