<div class="text-center" style="display:block">
	<div class="register-box" style="padding:0px;margin-top:50px;display:inline-block">
		<div class="register-logo">
			<span class="logo-lg"><b>Pick</b>a<b>Project</b></span>
		</div>

		<div class="register-box-body">
			<p class="login-box-msg">Hey, become a member :)</p>

			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>
				<div class="form-group has-feedback">
					<%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Username" %>
				</div>
				<div class="form-group has-feedback">
					<%= f.text_field :name, class: "form-control", placeholder: "Full name" %>
				</div>
				<div class="form-group has-feedback">
					<%= f.email_field :email, class: "form-control", placeholder: "Email" %>
				</div>
				<div class="form-group has-feedback">
					<% if @minimum_password_length %>
						<% @password_placeholder = "Password" + " (minimum " + @minimum_password_length.to_s + " characters)" %>
					<% else %>
						<% @password_placeholder = "Password" %>
					<% end %>
					<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: @password_placeholder %>
				</div>
				<div class="form-group has-feedback">
					<%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control", placeholder: "Retype password" %>
				</div>

				<div class="row">
					<div class="col-xs-7" style="padding:5px 0 5px 0">
						Have an account? <%= link_to "Sign In", new_user_session_path, class: "btn-link btn-flat" %>
					</div>
					<div class="col-xs-offset-1 col-xs-4">
						<%= f.submit "Register", class: "btn btn-primary btn-block btn-flat" %>
					</div><!-- /.col -->
				</div>
			<% end %>
		</div><!-- /.form-box -->
	</div><!-- /.register-box -->
</div>
